.some-component-from-html {
    background-color: #EEE;
    padding: 20px;
}

.some-component-from-html__input {
    display: block;
    width: auto;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}

.some-component-from-html__input--top {
    color: red;
}

.some-component-from-html__input-bottom {
    color: green;
}

.some-component-from-html__img-bg {
    width: 50px;
    height: 50px;
    background-image: url(./sample.jpg);
    background-size: cover;
}